/**
 * Sections:
 * 1. Typography.
 * 2. Colours.
 * 3. Breakpoints.
 */


/**
 * 1. Typography
 */
// Fallback Stack.
$fallback-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/**
 * 2. Colours.
 */
// Colour Palette.
$white: #ffffff;
$black: #000000;

$whisper: #f8f8fb;
$shuttle-gray: #5f636a;
$mine-shaft: #242424;

$dodger-blue: #575aff;
$blaze-orange: #fa6400;

// Dark Colours.
$color-dark-ui-1: $shuttle-gray;
$color-dark-ui-2: $mine-shaft;

// Light Colours.
$color-light-ui-1: $whisper;

// Text Colours.
$color-text-1: $mine-shaft;
$color-text-2: $shuttle-gray;

// Highlight Colours.
$color-highlight-1: $dodger-blue;
$color-highlight-2: $blaze-orange;

// Misc Colours.
$selection: lighten($color-highlight-1, 30%); // Cursor selection colour.
$color-border-1: rgba($black, .1);


/**
 * 3. Breakpoints.
 */
$break-480: max-width 480px;
$break-640: max-width 640px;
$break-767: max-width 767px;
$break-1024: max-width 1024px;
$break-1280: max-width 1280px;

$break-768-up: min-width 768px;
$break-1025-up: min-width 1025px;
