.hero {
    padding: 3.6rem 5% 3.2rem;

    @include breakpoint($break-768-up) {
        padding: 5.2rem 5% 3.5rem;
    }

    @include breakpoint($break-1025-up) {
        padding: 5.2rem 5% 7rem;
    }
}

.hero__wrapper {
    @extend .wrapper__primary;

    @include breakpoint($break-1025-up) {
        max-width: 50rem;
    }
}

.hero__title {
    text-align: center;
}

.hero__lead {
    @include text-style(1.2rem, 1.8rem);
    margin: 0;
    text-align: center;

    @include breakpoint($break-1025-up) {
        @include text-style(1.4rem, 2rem);
    }
}