/**
 * Sections:
 * 1. Font Definitions.
 * 2. General Font Settings.
 */


/**
 * 1. Font Definitions
 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

// Raleway light
.raleway-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

// Raleway regular
.raleway-regular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

// Raleway medium
.raleway-medium {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

// Raleway semibold
.raleway-semibold {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

// Raleway bold
.raleway-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

// Raleway semiblack
.raleway-semiblack {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

// Raleway black
.raleway-black {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 1.4rem;
    padding: 0;
}

h1,
.title__h1 {
    @include text-style(2.3rem, 2.5rem, $color-text-1);
    @extend .raleway-black;

    @include breakpoint($break-768-up) {
        @include text-style(3.5rem, 3.9rem);
    }

    @include breakpoint($break-1025-up) {
        @include text-style(4.5rem, 4.9rem);
    }
}

h2,
.title__h2 {
    @include text-style(1.4rem, 2rem, $color-text-1);
    @extend .raleway-semiblack;
}

h3,
.title__h3 {
    @include text-style(1rem, 1.2rem, $color-text-1);
    @extend .raleway-bold;
}

/**
 * 2. General Font Settings.
 */
body {
    @extend .raleway-medium;
    @include text-style(1rem, 1.5rem, $color-text-1);
}

a {
    text-decoration: none;
    transition: .3s;
}

a.hover--underline {
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}