/**
 * Sections:
 * 1. Font Definitions.
 * 2. General Font Settings.
 */


/**
 * 1. Font Definitions
 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');

// Raleway light
.raleway-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

// Raleway regular
.raleway-regular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

// Raleway medium
.raleway-medium {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

// Raleway semibold
.raleway-semibold {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

// Raleway bold
.raleway-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

// Raleway black
.raleway-black {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}



/**
 * 2. General Font Settings.
 */
body {
    @extend .raleway-regular;
}

a {
    text-decoration: none;
}