.btn {
    @extend .raleway-bold;
    @include text-style(0.9rem, 1.5rem, $color-text-1);
    padding:  0.5rem 0.6rem;
    border-radius: 0.3rem;
    background-color: $black;
    color: $white;

    &:hover,
    &:focus,
    &:active {
        background-color: lighten($black, 15%);
    }
}

.btn--white {
    @extend .btn;
    background-color: $white;
    color: $color-text-1;
    border: 1px solid $color-border-1;
    border-radius: 0.5rem;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($white, 5%);
    }
}
