.main-nav {
    position: sticky;
    top: 0;
    padding: 1rem 5%;
    border-bottom: 1px solid $color-border-1;
    background-color: $white;
    z-index: 1;
}

.main-nav__wrapper {
    @extend .wrapper__primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Logo
.main-nav__logo img {
    width: 30px;
    height: auto;
}

.main-nav__link {
    @extend .raleway-semibold;
    font-weight: bold;

    a {
        @extend .hover--underline;
        @include text-style(15px, 15px, $color-text-1);
    }
}

