.main-nav {
    position: sticky;
    top: 0;
    padding: 1rem 5%;
    border-bottom: 1px solid $color-border-1;
    background-color: $white;
    z-index: 1;

    @include breakpoint($break-850-up) {
        position: relative;
        border-bottom: 0px;
    }
}

.main-nav__wrapper {
    @extend .wrapper__primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Hamburger
.main-nav__hamburger {
    @include breakpoint($break-850-up) {
        display: none;
    }
}

// Logo
.main-nav__logo img {
    width: 30px;
    height: auto;

    @include breakpoint($break-850-up) {
        padding: 0 1rem 0 0;
    }
}

// Menu
.main-nav__menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0 auto 0 0;

    @include breakpoint($break-850-up) {
        display: flex;
    }
}

.main-nav__menu-item {
    @extend .raleway-semibold;
    font-weight: bold;

    a {
        @extend .hover--underline;
        @include text-style(15px, 15px, $color-text-1);
        padding: 0 1rem;
    }
}

// Link
.main-nav__link {
    @extend .raleway-semibold;
    font-weight: bold;

    a {
        @extend .hover--underline;
        @include text-style(15px, 15px, $color-text-1);

        @include breakpoint($break-850-up) {
            padding: 0 1rem;
        }
    }
}

// Button
.main-nav__btn {
    display: none;

    @include breakpoint($break-850-up) {
        display: inline-flex;
    }
}

